In [1]:
import pandas as pd
import gmaps
import requests
from config import g_key

In [2]:
file_load = 'weather_data/cities.csv'
cities_df = pd.read_csv(file_load)
cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Norman Wells,CA,2021-09-26 13:03:15,65.2820,-126.8329,21.24,98,32,3.18
1,1,Destin,US,2021-09-26 12:58:28,30.3935,-86.4958,69.98,82,0,1.01
2,2,Tommot,RU,2021-09-26 13:03:16,58.9564,126.2925,40.87,71,100,10.00
3,3,Codrington,AU,2021-09-26 13:03:16,-38.2667,141.9667,41.65,90,12,8.79
4,4,Ahipara,NZ,2021-09-26 13:03:16,-35.1667,173.1667,51.80,85,42,7.18

In [3]:
cities_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = cities_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = cities_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = cities_df[["Lat", "Lng"]]
humidity = cities_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent cloudiness
locations = cities_df[["Lat", "Lng"]]
clouds = cities_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of wind speed
locations = cities_df[["Lat", "Lng"]]
wind = cities_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = cities_df.loc[(cities_df["Max Temp"] <= max_temp) & \
                                       (cities_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,10,Bengkulu,ID,2021-09-26 13:03:18,-3.8004,102.2655,75.79,87,100,3.65
14,14,Ko Samui,TH,2021-09-26 13:00:08,9.5357,99.9357,80.01,82,100,11.50
15,15,Bathsheba,BB,2021-09-26 13:03:19,13.2167,-59.5167,86.61,74,40,9.22
31,31,Saint-Paul,RE,2021-09-26 13:03:24,-21.0096,55.2707,77.74,77,87,0.72
35,35,Atuona,PF,2021-09-26 13:03:25,-9.8000,-139.0333,77.40,75,62,20.13
43,43,Apricena,IT,2021-09-26 13:03:27,41.7839,15.4437,87.58,31,8,7.40
44,44,Methoni,GR,2021-09-26 13:03:28,36.8197,21.7049,83.21,55,0,10.71
45,45,Puerto Narino,CO,2021-09-26 13:03:28,-3.7703,-70.3831,75.15,84,43,2.73
46,46,Bairiki,KI,2021-09-26 13:03:29,1.3292,172.9752,82.40,74,20,13.80
52,52,Sur,OM,2021-09-26 13:03:30,22.5667,59.5289,89.64,51,0,4.12

In [20]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Date          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
10       Bengkulu      ID     75.79  -3.8004  102.2655
14       Ko Samui      TH     80.01   9.5357   99.9357
15      Bathsheba      BB     86.61  13.2167  -59.5167
31     Saint-Paul      RE     77.74 -21.0096   55.2707
35         Atuona      PF     77.40  -9.8000 -139.0333
43       Apricena      IT     87.58  41.7839   15.4437
44        Methoni      GR     83.21  36.8197   21.7049
45  Puerto Narino      CO     75.15  -3.7703  -70.3831
46        Bairiki      KI     82.40   1.3292  172.9752
52            Sur      OM     89.64  22.5667   59.5289

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
10,Bengkulu,ID,75.79,-3.8004,102.2655,Grage Hotel Bengkulu
14,Ko Samui,TH,80.01,9.5357,99.9357,The Passage Samui Villas & Resort
15,Bathsheba,BB,86.61,13.2167,-59.5167,Atlantis Hotel
31,Saint-Paul,RE,77.74,-21.0096,55.2707,Boucan Canot
35,Atuona,PF,77.40,-9.8000,-139.0333,Villa Enata

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))