## Deliverable 3. Create a Travel Itinerary Map.

In [24]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Rome,US,70.66,broken clouds,43.2128,-75.4557,Wingate By Wyndham Rome
1,1,Rikitea,PF,73.42,light rain,-23.1203,-134.9692,People ThankYou
2,2,Lujiang,CN,66.02,light rain,31.2581,117.2817,GreenTree Inn Hefei Lujiang County Jinjie 1 Ex...
3,7,Cananéia,BR,71.55,overcast clouds,-25.0147,-47.9267,Pousada Ancoradouro
4,11,Hermanus,ZA,76.89,clear sky,-34.4187,19.2345,Misty Waves Boutique Hotel

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [9]:
# 4a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.3)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City'].values == 'Redlands']
vacation_end = vacation_df.loc[vacation_df['City'].values == 'Redlands']
vacation_stop1 = vacation_df.loc[vacation_df['City'].values == 'Ontario']
vacation_stop2 = vacation_df.loc[vacation_df['City'].values == 'Santa Clarita'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'].values == 'Las Vegas']

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
193,591,Las Vegas,US,73.09,clear sky,36.175,-115.1372,Plaza Hotel & Casino

In [54]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = (vacation_start.to_numpy())
start = (start[0][5], start[0][6])

end = (vacation_end.to_numpy())
end = (end[0][5], end[0][6])

stop1 = (vacation_stop1.to_numpy())
stop1 = (stop1[0][5], stop1[0][6])

stop2 = (vacation_stop2.to_numpy())
stop2 = (stop2[0][5], stop2[0][6])

stop3 = (vacation_stop3.to_numpy())
stop3 = (stop3[0][5], stop3[0][6])

In [59]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig2 = gmaps.figure()

route = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3],
                              travel_mode='DRIVING')
fig2.add_layer(route)
fig2

Figure(layout=FigureLayout(height='420px'))

In [60]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,660,Redlands,US,76.44,clear sky,34.0556,-117.1825,Dynasty Suites Redlands
1,660,Redlands,US,76.44,clear sky,34.0556,-117.1825,Dynasty Suites Redlands
2,190,Ontario,US,73.40,haze,34.0633,-117.6509,American Inn
3,550,Santa Clarita,US,73.45,haze,34.3917,-118.5426,Hyatt Regency Valencia
4,591,Las Vegas,US,73.09,clear sky,36.1750,-115.1372,Plaza Hotel & Casino

In [62]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [69]:
# 11a. Add a marker layer for each city to the map. 
fig3 = gmaps.figure(center=(35.0, -117.0), zoom_level=7)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig3.add_layer(marker_layer)


# 11b. Display the figure
fig3

Figure(layout=FigureLayout(height='420px'))